**S.Ankith**

**20070**

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
DatasetBaseFolder = '/content/gdrive/MyDrive/ColabNotebooks/PandasTI/Datasets/'

In [4]:
df = pd.read_csv(DatasetBaseFolder+'Bone Mineral Density.csv')
df.head()

      id        age sex  ...      medication  waiting_time     bmd
0    469  57.052768   F  ...  Anticonvulsant            18  0.8793
1   8724  75.741225   F  ...   No medication            56  0.7946
2   6736  70.778900   M  ...   No medication            10  0.9067
3  24180  78.247175   F  ...   No medication            14  0.7112
4  17072  54.191877   M  ...   No medication            20  0.7909

[5 rows x 9 columns]

In [5]:
df.shape

(169, 9)

In [6]:
df.describe()

                 id         age  ...  waiting_time         bmd
count    169.000000  169.000000  ...    169.000000  169.000000
mean    9102.556213   63.631531  ...     19.739645    0.783104
std     8744.623598   12.356936  ...     15.800570    0.166529
min       35.000000   35.814058  ...      5.000000    0.407600
25%     2018.000000   54.424211  ...      9.000000    0.670800
50%     6702.000000   63.487837  ...     14.000000    0.786100
75%    17100.000000   72.080558  ...     24.000000    0.888800
max    24208.000000   88.753795  ...     96.000000    1.362400

[8 rows x 6 columns]

In [7]:
df.bmd.unique()

array([0.8793    , 0.79460001, 0.90670002, 0.7112    , 0.79089999,
       0.73009998, 1.0096    , 0.73100001, 0.6893    , 0.94660002,
       0.80150002, 0.57929999, 0.97600001, 0.91839999, 0.80199999,
       0.80330002, 0.7978    , 1.039     , 0.78609997, 0.82539999,
       0.84990001, 0.89819998, 0.77380002, 0.83770001, 0.81260002,
       0.92339998, 1.0405999 , 1.002     , 0.625     , 0.9364    ,
       1.0908999 , 0.80790001, 0.89950001, 0.73500001, 1.0003    ,
       1.0128    , 1.0265    , 0.8994    , 1.0031    , 0.90609998,
       0.71280003, 1.0266    , 0.963     , 0.84289998, 0.92619997,
       0.81709999, 0.88880002, 1.3624001 , 1.0015    , 1.0197999 ,
       0.55140001, 0.71710002, 0.85479999, 0.7766    , 0.7999    ,
       0.80129999, 0.9716    , 0.98509997, 0.85600001, 0.70950001,
       0.63380003, 0.73839998, 0.73470002, 0.73460001, 0.64960003,
       1.2508    , 0.88190001, 0.7755    , 0.8599    , 0.8829    ,
       0.79659998, 0.77579999, 0.90359998, 0.86379999, 0.75099999,
       1.0839    , 0.74089998, 0.99900001, 0.58990002, 0.87199998,
       1.1335    , 1.0502    , 0.8362    , 0.72149998, 0.9824    ,
       0.9436    , 0.86220002, 0.78049999, 0.7895    , 0.85089999,
       0.76599997, 0.85930002, 0.91390002, 0.7586    , 0.87760001,
       0.509     , 1.0617    , 0.83069998, 0.73110002, 0.97060001,
       1.0366    , 0.77819997, 0.72689998, 0.70959997, 0.61220002,
       0.83899999, 0.90100002, 1.0176001 , 0.75089997, 0.73140001,
       0.83700001, 0.796     , 1.0287    , 0.72009999, 0.61870003,
       0.67439997, 0.86809999, 0.45860001, 0.48179999, 0.52789998,
       0.52850002, 0.52869999, 0.53869998, 0.54189998, 0.55150002,
       0.55790001, 0.56760001, 0.56349999, 0.57209998, 0.52939999,
       0.55470002, 0.56029999, 0.5693    , 0.60009998, 0.6103    ,
       0.62040001, 0.62639999, 0.40759999, 0.44069999, 0.48519999,
       0.55549997, 0.56150001, 0.61019999, 0.62970001, 0.63849998,
       0.63880002, 0.64090002, 0.64319998, 0.64480001, 0.64950001,
       0.67079997, 0.68800002, 0.6882    , 0.68839997, 0.68989998,
       0.6904    , 0.7076    , 0.70850003, 0.72460002, 0.73989999,
       0.77450001, 0.79409999, 0.79710001, 0.80369997, 0.80720001,
       0.8664    ])

In [8]:

df.bmd.value_counts()

0.6904    2
0.7128    2
0.8888    2
0.6409    1
0.5899    1
         ..
0.6496    1
0.7314    1
0.8720    1
0.8072    1
0.6250    1
Name: bmd, Length: 166, dtype: int64

In [9]:

df.corr()

                    id       age  weight_kg  height_cm  waiting_time       bmd
id            1.000000 -0.096807   0.087085  -0.103910     -0.010195  0.027456
age          -0.096807  1.000000  -0.093117  -0.215269      0.037561 -0.306576
weight_kg     0.087085 -0.093117   1.000000   0.367827     -0.046684  0.555964
height_cm    -0.103910 -0.215269   0.367827   1.000000      0.009275  0.324430
waiting_time -0.010195  0.037561  -0.046684   0.009275      1.000000 -0.192069
bmd           0.027456 -0.306576   0.555964   0.324430     -0.192069  1.000000